.table {
  width: 100%;
  margin: 2em 0;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid black;
}

.table__heading .table__row {
  font-weight: 700;
}

.table__heading .table__row div {
  background: #dfdfe4
}


.table__row div {
  background-color: #fff;
  padding: .75em;
}

.table__heading .table__row,
.table__row:not(:last-of-type) div {
  border-bottom: 1px solid black;
}

.table__row div:not(:first-of-type) {
  border-left: 1px solid black
}
